@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
* {
  font-family: "Fira Sans";
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f7f7;
}

/* navbar */
nav {
  height: 80px;
  line-height: 80px;
  background-color: transparent;
  box-shadow: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.5s;
}
nav .brand-logo img {
  width: 60px;
  margin-top: 10px;
}
nav ul li a {
  color: #000;
}
@media (max-width: 1000px) {
  nav ul {
    display: none;
  }
}
nav.solid {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

/* buttons */
.btn {
  border: none;
  outline: none;
  background-color: #30E3CA;
  box-shadow: none;
}
.btn.btn-red {
  background-color: #FD0054;
}

/* section */
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 50px;
}

/* hero */
.hero {
  min-height: 650px;
  display: flex;
  align-items: center;
  background: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.hero h1 {
  font-size: 3.2rem;
  color: #;
}
.hero h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #efdecd;
  background: linear-gradient(107deg, rgba(239, 222, 205, 0.9) 21%, rgba(247, 247, 247, 0.5) 61%);
  z-index: -1;
}

/* services */
.services .service {
  text-align: center;
}
.services .service .icon img {
  height: 150px;
  width: auto;
}
.services .service h3 {
  font-size: 1.9rem;
}
.services .service p {
  color: #9E9E9E;
}

/* cta */
.cta {
  background: url("https://images.pexels.com/photos/459469/pexels-photo-459469.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.cta::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #30e3ca;
  background: linear-gradient(107deg, rgba(48, 227, 202, 0.9) 50%, rgba(247, 247, 247, 0.5) 100%);
  z-index: -1;
}
.cta h2 {
  color: #fff;
}

/* form */
form .input-group {
  margin-bottom: 10px;
}
form input[type=text],
form input[type=email] {
  padding: 0.2rem 1rem !important;
  border: none !important;
  outline: none !important;
  background-color: #ececec !important;
  width: calc(100% - 2rem) !important;
}
form input[type=text]:focus,
form input[type=email]:focus {
  box-shadow: none !important;
}
form input[type=text]::placeholder,
form input[type=email]::placeholder {
  color: #4C4C4C;
}

/* contact */
.contact {
  padding-top: 10px;
  padding-bottom: 10px;
}
.contact h2 {
  margin-bottom: -5px;
}
.contact ul li {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.contact ul li i.fab {
  background-color: #ececec;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50px;
  color: #000;
}

/* footer */
footer {
  background-color: #30E3CA;
  text-align: center;
  color: #fff;
  padding: 10px 0 5px 0;
}
footer a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}

/*# sourceMappingURL=app.css.map */
